body {
  background: #EFF7FF;
  color: white;
}

.editLog {
  text-decoration: underline;
  font-size: smaller;
}

.textarea-container {
  display: flex;
  flex-direction: column-reverse;
}

.select-container {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}

.select-container select {
  margin-top: 10px;
}

#deleteLogEntry{
  float: right;
  background-color: rgb(226, 52, 52);
}

textarea{
  border-radius: 4px;
  background: #EFF7FF;
}
h1 {
  text-align: center;
  background-color: #0052A3;
  color: white; 
  padding: 5px;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 10px;

}

.date-selector {
  padding: 4px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 2px;
}

input.date-selector {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

div {
  background: #0052A3;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  color: white;
  margin-top: 5px;
}

label {
  text-align: left;
  display:grid;
}
template {
  width: 100%;
}

article.entry {
  border: 2px solid #3399FF;
  border-radius: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  width: 100%;
  background: #3399FF;
  font-size: small;
  line-height: 1;
  margin-bottom: 2px;
  margin-top: 2px;
  display:inline-flexbox;
}

aside {
  text-decoration-line: underline;
}

p {
  text-decoration-thickness: 1px;
}

.user_buttons {
  background-color: #0052A3;
  color: #EFF7FF;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 2px;

  
}

#month {
  color: #0052A3;
}

input {
  border-radius: 4px;
  padding-left: 4px;
  margin-top: 5px;
}


.hidden {
  display: none; 
}

a {
  color: black;
}
